@import 'tailwindcss';

:root {
  /* disponibles tras viewport-fit=cover */
  --safe-top: env(safe-area-inset-top);
  --safe-right: env(safe-area-inset-right);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
    padding-bottom: var(--safe-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .pl-safe {
    padding-left: env(safe-area-inset-left);
  }
  .pr-safe {
    padding-right: env(safe-area-inset-right);
  }
}

@theme {
  --color-brand-white: #efefef;
  --color-brand-whiter: #fafafa;
  --color-brand-black: #1f1f1f;
  --color-brand-blacker: #111111;
  --color-brand-gray: #79716b;
  --color-brand-grayer: #a6a09b;
  --color-brand-pink: oklch(65.6% 0.241 354.308);
  --color-brand-pinker: oklch(59.2% 0.249 0.584);
}

html,
body,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: calc(100vh + var(--safe-bottom));
}

.header-mobile {
  @apply pb-safe;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  @apply text-brand-black text-base bg-brand-white;
}

.title {
  @apply text-4xl lg:text-5xl font-thin text-center text-black;
}

.subtitle {
  @apply text-lg lg:text-xl text-center text-brand-gray;
}

.label {
  @apply text-black font-medium;
}

.input {
  @apply border border-stone-300 rounded-xs ring ring-brand-grayer p-2 px-4 w-full focus-visible:ring-2 focus-visible:shadow-xl focus-visible:ring-brand-pink outline-none bg-brand-whiter transition-all duration-500 focus-visible:bg-brand-whiter;
}

.input.error {
  @apply ring-2 ring-red-600 focus-visible:ring-red-600;
}
.text-error {
  @apply text-red-600 text-xs font-semibold text-center block;
}
button {
  @apply cursor-pointer;
}
.btn {
  @apply bg-brand-white origin-bottom text-center text-xl border rounded-xs p-2 px-6 font-semibold transition-all cursor-pointer active:scale-[0.99] hover:bg-white shadow-md disabled:opacity-50 disabled:cursor-not-allowed outline-none focus-visible:ring-2 focus-visible:ring-brand-pink focus-visible:shadow-xl duration-500;
}

.link {
  @apply rounded-xs outline-none focus-visible:ring-2 focus-visible:ring-brand-pink focus-visible:shadow-xl duration-300;
}

.btn-primary {
  @apply bg-brand-black border-brand-black text-white hover:bg-brand-blacker hover:border-brand-blacker;
}

.btn-secondary {
  @apply border-brand-gray bg-brand-gray text-brand-white hover:bg-brand-grayer;
}

.toast-item {
  @apply rounded-sm max-md:shadow-[0_-4px_6px_-1px_rgba(0,0,0,0.1),0_-2px_4px_-2px_rgba(0,0,0,0.1)] border shadow-xl! border-brand-grayer/50;
}
